<%- include("partials/header.ejs") %>

    <div class="mt-5">
        <h1>All Posts</h1>
        <% posts.forEach((post,index)=> { %>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-header">
                        <div class="card-title">
                            <div>
                                <h3>
                                    <%= post.title %>
                                </h3>
                            </div>
                            <div>
                                <a href="/view/<%= post.id %>"
                                    style="text-decoration: none; color: white; font-size : 1.3rem">-></a>
                            </div>
                        </div>
                        <div class="links">
                            <a href="/edit/<%= post.id %>" class="btn">+ Edit</a>
                            <form action="/delete/<%= post.id %>" method="POST" style="display:inline">
                                <button type="submit" class="btn">- Delete</button>
                            </form>
                        </div>
                    </div>
                    <h6 class="card-text">
                        <% const content=post.content %>
                            <% const displayContent=content.substring(0,100) + "..." %>
                                <%= displayContent %>
                    </h6>
                    <p>
                        By <%= post.author %>
                    </p>
                    <small>Published on <%= post.date.toLocaleString() %></small>
                </div>
            </div>
            <% }) %>
    </div>

    <%- include("partials/footer.ejs") %>