<%- include("partials/header.ejs") %>
    <h1>
        <em>
            <%= post.title %>
        </em>
    </h1>
    <hr />
    <p>
        <%= post.content %>
    </p>
    <p>
        <small>By <%= post.author %></small>
    </p>
    <p>
        <small>Published on <%= post.date.toLocaleString() %></small>
    </p>


    <%- include("partials/footer.ejs") %>